<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<table id="items">
    <thead>
        <tr>
            <th>Fruit</th>
        </tr>
        <tr>
            <td>
                <input id="filter"/>
            </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
    get_table_data();
    var timeout = null;
    var processing = false;

    $( "#filter" ).keyup(function(){
        timeout = setTimeout(get_table_data, 300);
    });
    function get_table_data(){
        if(!processing){
            processing = true;
            $.getJSON('/_items', {
                filter: $("#filter").val()
                }, function(data){update_table.call(null, data)}
            )
        }
    }
    function update_table (data) {
        var $tbody = $("#items").find("tbody");
        $tbody.empty();
        var rows = data.fruits.length;
        for (var i = 0; i < rows; i++) {
            var row = "<tr><td>" + data.fruits[i] + "</td></tr>";
            $tbody.append(row);
        }
        processing = false;
    }
});


</script>
</body>
</html>