<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<table id="items">
    <thead>
        <tr>
            <th>Fruit</th>
        </tr>
        <tr>
            <td>
                <input id="filter"/>
            </td>
    </thead>
    <tbody></tbody>
</table>
<script type="text/javascript">
    $( "#filter" ).keyup(get_items);
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(document).ready(function(){
        get_items();
    });

    function get_items(){
        $("#items tbody").empty();
        $.getJSON($SCRIPT_ROOT + '/_items', {
            filter: $("#filter").val(),
            }, function (data) {
                var rows = data.items.length;
                if (rows > 0) {
                    for (var i = 0; i < rows; i++) {
                        var row = "<tr>";
                        row += "<td>" + data.items[i] + "</td>";
                        row += "</tr>";
                        $("#items tbody").append(row);
                    }
                }
            }
        )
    }
</script>
</body>
</html>